@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/styles.css"  rel="stylesheet" type="text/css"/>
<h2>Home</h2>
<div id="vue-root" v-cloak>
    <h2>{{ header }}</h2>
    <current-time></current-time>
</div>

<script src="~/dist/home.js"></script>